/* h1{
    background-color:blue;
}  */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: red;
}

.title {
    color: green;
}

#t1 {
    color: black;
}

p{
    background-color: aqua;
}

.para{
    background-color: yellow;
}

p.para{
    background-color: grey;
}

.para.text{
    background-color:blueviolet;
} */


/*-----Combinators--------*/
/* div>p{
    text-align: center;
    background-color: yellow;
    color:brown;
}
div p{
    color:pink;
} */
/* section{
    color:pink;
} */
/* p+div{
    background-color: aqua;
}
div+p{
    background-color: red;
} */
/* p+p+p{
    background-color: pink;
} */

 /*===Pseudo Classes====*/

/* p:hover{
    background-color: brown;
}
a:visited{
    color: green;
} */

 /* button{
    padding:8px 19px;
    border-radius: 5px;
    background-color: green;
    color:white;
    font-size:18px;
    border:none;
    box-shadow: 4px 4px 6px 6px lightgreen;
    transition:all 700ms ease;
}
button:active{
    scale: 0.9;
}

button:hover{
   background-color:blueviolet;
   scale:1.2; 
   transition:all 700ms ease;
}  */

/*----- Pseudo Classes------*/
/*li:first-child{
    background-color: yellow;
}
 body>ul>li:first-child{
    background-color: yellow;
} 
p:nth-child(2){
    background-color:aqua;
}*/
/* will not work.
p:nth-child(3){
    background-color:aqua;
}*/
/* li:nth-child(3){
    background-color:brown;
}
p:nth-of-type(3){
    background-color:blue;
} */
/* div li:nth-last-child(2){
    background-color: pink;
} */
/* div li:nth-child(7){
    background-color: pink;
} */
.parent>div{
    font-size: 20px;
    background-color: beige;
    border: 1px solid grey;
    width:500px;
  }

.parent{
    display: flex;
    justify-content:center;
    gap:10px;
   /* flex-wrap: wrap;*/
}
.child1,.child2,.child4{
    flex-shrink: 1;
    width: 30px;
       }
.child3{
    flex-shrink: 2;
    flex-grow: 1;
}
